@import "../variables.scss";

.search-container {
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
  &.focused {
    background-color: $border;
    color: $bg;
  }
}

.context-wrapper {
  z-index: 99;
  position: absolute;
  width: 100px;
  opacity: 0;
  border: solid medium red;
  transform: translateX(0px) translateY(0px) scale(0.7);
  transition: opacity 0.05s linear, transform 0.1s ease;

  background-color: $bg;
  border-radius: 5px;
  border: solid medium $border;
  color: #707070;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1), -1px -2px 2px rgba(0, 0, 0, 0.05);

  input {
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid medium $border;
    background: $green_gradient;

    margin: 0;
    border-radius: 3px 3px 0px 0px;
    padding-top: 2px;
    margin-top: -2px;
    transform: translateY(-1px);
  }

  p {
    top: 43px;
    left: 50px;
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    width: fit-content;
    text-align: center;
    transform-origin: 50% 50%;
  }
}

.context-visible {
  opacity: 1;
  transform: scale(1);
}
