@import "./variables.scss";

html {
  height: 100%;
}

input,
select,
label {
  padding-left: 2px !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  background: transparent;
  font-size: 0.8em;
  color: $border;
  border: none;
}

label {
  font-size: 0.5em;
}

.nodesystem-wrapper {
  position: relative;
  height: 100%;
  background: $bg;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
